<% if session.user == @user %>
  <%= partial "command" %>
<% end %>

<h1>
  <%= t("User", "Edit Password of %s") % h(@user.login) %>
</h1>
<%= error_messages_for @user %>

<%= form_for @user, :action => resource(@user) do %>
  <dl class="form">
    <dt>
      <%= t("Are you sure?") %>
    </dt>
    <dd>
      <%= submit t("Update"), :class => :submit %>
    </dd>
  </dl>
<% end =%>
