= link_to h('Yak'), url(:root)
- if session.user
  Welcome back,
  = link_to h(session.user.login), resource(session.user)
  = link_to h('Logout'), url(:logout)
- else
  = link_to h('Login'), url(:login)
  = link_to h('Signup'), resource(:users, :new)
