= link_to h('Yak'), url(:root)
= link_to h('People'), resource(:people)
- if @user
  Welcome back,
  = link_to h(@user.person.name), resource(@user.person)
  = link_to h('Logout'), BeeU.logout(url(:root))
- else
  = link_to h('Login'), BeeU.login(request.full_uri)
